pipeline/ImportSweetTreatsSales_Audit.json
{
	"name": "ImportSweetTreatsSales_Audit",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesMonth",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ManufacturerProductCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesValueUSD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "UnitsSold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PipelineRunId",
									"type": "String"
								},
								"sink": {
									"name": "PipelineRunId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "SourceFileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": false,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CSVsourceSweetsale",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log pipeline outcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineExecution]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Copy data1').output.filesread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Copy data1').output.rowscopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data1').output.rowsread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Chapter 4"
		},
		"annotations": []
	}
}